@page "/Admin/Orders/Delete/{id}"
@model TranTrungKienRazorPages.Pages.Admin.Customers.DeleteModel

@{
    ViewData["Title"] = "Delete Customer";
    Layout = "_AdminLayout";
}

<div class="h1">Delete Customer</div>

<div class="h5 mb-4">Are you sure you want to delete this account?</div>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Customer.Email)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Customer.Email)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Customer.CustomerName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Customer.CustomerName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Customer.City)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Customer.City)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Customer.Country)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Customer.Country)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Customer.Password)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Customer.Password)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Customer.Birthday)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Customer.Birthday)
    </dd>
</dl>
    
<form method="post">
    <input type="hidden" asp-for="Customer.CustomerId" />
    <input type="submit" value="Delete" class="btn btn-outline-danger mr-2" />
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</form>
