@page "/profile"
@model TranTrungKienRazorPages.Pages.Customers.ProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "_CustomerLayout";
}

<div class="h1">Your Profile</div>
<div class="d-flex justify-content-end mb-4">
    <a asp-page="./EditProfile" class="btn btn-info">Edit</a>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Birthday)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index" class="btn btn-secondary">Back to Products Page</a>
</div>
